 <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is firsr Ruby on Rails website!!!.</p>
  <hr class="my-4">
  <p>A step to my dream city.</p>
  <%= link_to 'Learn More About Me', home_about_path, class: "btn btn-primary btn-lg" %>
<!--   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>